<style>
body{background-image: url("Scrapbooking-paper.jpg");
}
.h1{color:maroon;
font-family:cursive;
font-weight:bold;
text-align:center;
font-size:66px;
padding:10px;
padding-bottom:8px;
letter-spacing:2px;
word-spacing:2px;
}
.h2{font-size:44px;
color:maroon;
font-weight:bold;
font-famliy:cursive;
text-align:center;
word-spacing:2px;
}


.h2{color:maroon;
font-family:cursive;
font-size:40px;
font-weight:bold;
word-spacing:2px;
}


.p2{color:maroon;
font-size:24px;
font-family:cursive;
font-weight:bold;
}

.para{font-size:29px;
color:maroon;
letter-spacing:2px;
line-spacing:30px;
margin:22px;
word-spacing:5px;
font-family:cursive;
font-weight:bold;
}

.p1{color:black;
font-size:27px;
margin:32px;
font-family:cursive;
font-weight:bold;
}
.t1{color:olive;
font-size:12px;

}
.l1{list-style-type:square;
font-size:27px;
}

.l2{list-style-type:square;
font-size:27px;
color:maroon;
font-family:cursive;
}

a:visited{color:black;}
a:hover{color:yellow;}
a:active{color:green;}
a:link{color:yellow;
font-size:28px;
}

table,th,td{border-collapse:collapse;
border:1px solid black;
width:900px;
height:59px;
font-family:arial;
font-size:19px;
target="_parentframe";
}
tr:hover{background-color:charcoal;
color:maroon;
}

</style>